.directory 
build_Unix/CMakeFiles/security.dir/progress.make
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Lab2/v15/.suo
.vs/Lab2/v15/Browse.VC.db
.vs/Lab2/v15/ipch/AutoPCH/1aa5a1a9eb1bc55/MAIN.ipch
.vs/Lab2/v15/ipch/AutoPCH/7c41ffd43264b9a5/MAIN.ipch
.vscode/.cmaketools.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj.user
build/CMakeCache.txt
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/cmake_install.cmake
build/security.sln
build/security.vcxproj
build/security.vcxproj.filters
build/security.vcxproj.user
build/.vs/hello-cmake/v15/.suo
build/.vs/hello-cmake/v15/Browse.VC.db
build/.vs/hello-cmake/v15/Solution.VC.db
build/.vs/hello-cmake/v15/Solution.VC.db-shm
build/.vs/hello-cmake/v15/Solution.VC.db-wal
build/.vs/hello-cmake/v15/ipch/AutoPCH/406ee2bb0d03080/ENCODE.ipch
build/.vs/hello-cmake/v15/ipch/AutoPCH/ab9bf3c97fb9d8e9/HUFFMAN.ipch
build/.vs/hello-cmake/v15/ipch/AutoPCH/dd5053b1eee00437/MAIN.ipch
build/.vs/security/v15/.suo
build/.vs/security/v15/Browse.VC.db
build/.vs/security/v15/Solution.VC.db
build/.vs/security/v15/ipch/AutoPCH/2aa5980b9cd5ecaa/ENCODE.ipch
build/.vs/security/v15/ipch/AutoPCH/4152eb78aafd1f1f/MAIN.ipch
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/3.11.0-rc3/CMakeCCompiler.cmake
build/CMakeFiles/3.11.0-rc3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.11.0-rc3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.11.0-rc3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.11.0-rc3/CMakeRCCompiler.cmake
build/CMakeFiles/3.11.0-rc3/CMakeSystem.cmake
build/CMakeFiles/3.11.0-rc3/VCTargetsPath.txt
build/CMakeFiles/3.11.0-rc3/VCTargetsPath.vcxproj
build/CMakeFiles/3.11.0-rc3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.11.0-rc3/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.11.0-rc3/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.11.0-rc3/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.11.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.11.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.11.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.11.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.11.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.11.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.11.0-rc3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.11.0-rc3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.11.0-rc3/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.11.0-rc3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.11.0-rc3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.11.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.11.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.11.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.11.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.11.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.11.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.11.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.11.0-rc3/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/840df4f2f5f390bf2090a309c2385387/generate.stamp.rule
build/Debug/hello-cmake.exe
build/Debug/hello-cmake.ilk
build/Debug/hello-cmake.pdb
build/Debug/security.exe
build/Debug/security.ilk
build/Debug/security.pdb
build/Release/hello-cmake.exe
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.log
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
build/Win32/Release/ZERO_CHECK/ZERO_CHECK.log
build/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
build/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
build/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
build/security.dir/Debug/encode.obj
build/security.dir/Debug/main.obj
build/security.dir/Debug/security.log
build/security.dir/Debug/vc141.pdb
build/security.dir/Debug/security.tlog/CL.command.1.tlog
build/security.dir/Debug/security.tlog/CL.read.1.tlog
build/security.dir/Debug/security.tlog/CL.write.1.tlog
build/security.dir/Debug/security.tlog/custombuild.command.1.tlog
build/security.dir/Debug/security.tlog/custombuild.read.1.tlog
build/security.dir/Debug/security.tlog/custombuild.write.1.tlog
build/security.dir/Debug/security.tlog/link.command.1.tlog
build/security.dir/Debug/security.tlog/link.read.1.tlog
build/security.dir/Debug/security.tlog/link.write.1.tlog
build/security.dir/Debug/security.tlog/security.lastbuildstate
build_Unix/CMakeCache.txt
build_Unix/Makefile
build_Unix/cmake_install.cmake
build_Unix/compile_commands.json
build_Unix/security
build_Unix/CMakeFiles/CMakeDirectoryInformation.cmake
build_Unix/CMakeFiles/CMakeOutput.log
build_Unix/CMakeFiles/Makefile.cmake
build_Unix/CMakeFiles/Makefile2
build_Unix/CMakeFiles/TargetDirectories.txt
build_Unix/CMakeFiles/cmake.check_cache
build_Unix/CMakeFiles/feature_tests.bin
build_Unix/CMakeFiles/feature_tests.c
build_Unix/CMakeFiles/feature_tests.cxx
build_Unix/CMakeFiles/progress.marks
build_Unix/CMakeFiles/3.10.2/CMakeCCompiler.cmake
build_Unix/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
build_Unix/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
build_Unix/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
build_Unix/CMakeFiles/3.10.2/CMakeSystem.cmake
build_Unix/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
build_Unix/CMakeFiles/3.10.2/CompilerIdC/a.out
build_Unix/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build_Unix/CMakeFiles/3.10.2/CompilerIdCXX/a.out
build_Unix/CMakeFiles/3.10.3/CMakeCCompiler.cmake
build_Unix/CMakeFiles/3.10.3/CMakeCXXCompiler.cmake
build_Unix/CMakeFiles/3.10.3/CMakeDetermineCompilerABI_C.bin
build_Unix/CMakeFiles/3.10.3/CMakeDetermineCompilerABI_CXX.bin
build_Unix/CMakeFiles/3.10.3/CMakeSystem.cmake
build_Unix/CMakeFiles/3.10.3/CompilerIdC/CMakeCCompilerId.c
build_Unix/CMakeFiles/3.10.3/CompilerIdC/a.out
build_Unix/CMakeFiles/3.10.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build_Unix/CMakeFiles/3.10.3/CompilerIdCXX/a.out
build_Unix/CMakeFiles/security.dir/CXX.includecache
build_Unix/CMakeFiles/security.dir/DependInfo.cmake
build_Unix/CMakeFiles/security.dir/build.make
build_Unix/CMakeFiles/security.dir/cmake_clean.cmake
build_Unix/CMakeFiles/security.dir/depend.internal
build_Unix/CMakeFiles/security.dir/depend.make
build_Unix/CMakeFiles/security.dir/flags.make
build_Unix/CMakeFiles/security.dir/link.txt
build_Unix/CMakeFiles/security.dir/main.cpp.o
build_Unix/CMakeFiles/security.dir/include/encode.cpp.o
build_Unix/CMakeFiles/security.dir/include/correction.cpp.o
build_Unix/CMakeTools/CMakeToolsHelpers.cmake
build_Unix/CMakeTools/InitializeCache.cmake
include/.vs/slnx.sqlite
include/.vs/VSWorkspaceState.json
.gitignore
/.vs/Security/v15/ipch/AutoPCH/933eaae5972fff42/CORRECTION.ipch
/.vs/Security/v15/ipch/AutoPCH/fef09e4b181555ff/MAIN.ipch
/.vs/Security/v15/.suo
/.vs/Security/v15/Browse.VC.opendb
/.vs/Security/v15/Browse.VC.db
/.vs/Security/v15/ipch/AutoPCH/74c1704ad70071a2/DECODE.ipch
/.vs/Security/v15/ipch/AutoPCH/ddd3c628cf66bcb5/MAIN.ipch
/.vs/Security/v15/ipch/AutoPCH/790b4f7e37a6f608/DECODE.ipch
